
table.dwm_main th, table.dwm_main td {
  line-height: 24px;
  height: 24px;
}

input, textarea {
  background-color: #fff;
  box-shadow: none;
  border-radius: 3px;
  border: 1px solid #ccc;
  padding: 3px;
}

input[type="submit"] {
    cursor: pointer;
    background: #0096D9;
    border: 1px solid #bfcbd9;
    color: #fff;
    text-align: center;
    padding: 3px 6px;
}

input[type="submit"]:hover {
    background: #fff;
    border: 1px solid #bfcbd9;
    color: #0096D9;
}

.banner .company div>span {
  display: inline-block;
  width: 90%;
  min-height: 24px;
  background-image: url(https://mars-assets.qnssl.com/qiniulogo/img-horizontal-white-en.png);
  background-repeat: no-repeat;
  background-size: 21%;
  background-position-x: 50%;
  background-position-y: 50%;
}